<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
     <div class="container" >
      <tr class="table" >
        <td class="uname" ><%= user.name %></td>
        <td class="uemail" ><%= user.email %></td>
        <td class="upassword" ><%= user.password %></td>
        <td class="show" ><%= link_to 'Show', user %></td>
        <td class="edit" ><%= link_to 'Edit', edit_user_path(user) %></td>
        <td class="destroy" ><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
     </div>
    <% end %>
  </tbody>
</table>

<br>

<div class="nuser" ><%= link_to 'New User', new_user_path %></div>
