<p id="notice"><%= notice %></p>
<div class="user_information">
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Bird Sightings</strong>
  <% @user.birds.each do |bird|%>
  <ul class="back" >
  	<li><%= bird.species %></li>
  	<li><%= bird.location %></li>
  	<li><%= bird.date %></li>
  </ul>
  <% end %>
</p>
	</div>

<div class="back">
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<%= link_to 'Create Bird', new_user_bird_path(@user)%>
</div>
