<p id="notice"><%= notice %></p>

<h1>Birds</h1>

<table>
  <thead>
    <tr>
      <th>Species</th>
      <th>Location</th>
      <th>Date</th>
      <th>Image</th>
      <th>Birder</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @birds.each do |bird| %>
      <tr>
        <td><%= bird.species %></td>
        <td><%= bird.location %></td>
        <td><%= bird.date %></td>
        <td><%= image_tag(bird.image_url, size:100) %></td>
        <td><%= link_to bird.user.name, user_path(bird.user) %></td>
        <td><%= link_to 'Show', user_bird_path(bird.user, bird) %></td>
        <td><%= link_to 'Edit', edit_user_bird_path(bird.user, bird) %></td>
        <td><%= link_to 'Destroy', user_bird_path(bird.user, bird), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>







