 <div class="col-md-12">
  <div class="row">
    <% @birds.each do |bird| %>
    <div class="col-md-3">
     <div class="card">
       <img src="<%= bird.image_url %>" alt="bird"/>
       <div class="card-body">
         <h4 class="card-title"><%= bird.species %></h4>
         <div class="card-text">
           <p>
             <strong>Birder: </strong><span><%= link_to bird.user.name, user_path(bird.user) %></span>
           </p>
           <p>
             <strong>Species: </strong><span><%= bird.species %></span>
           </p>
           <p>
             <strong>Location: </strong><span><%= bird.location %></span>
           </p>
           <p>
             <strong>Date: </strong><span><%= bird.date %></span>
           </p>
         </div>
         <button class="btn btn-primary"><span><%= link_to 'Show', user_bird_path(bird.user, bird) %></span></button>
       </div>
       <div></div>
       <div><%= link_to 'Edit', edit_user_bird_path(bird.user, bird) %> |
         <%= link_to 'Destroy', user_bird_path(bird.user, bird), method: :delete, data: { confirm: 'Are you sure?' } %></div>
       </div>
     </div>
     <% end %>
   </div>
  </div>
<%#= link_to 'New Bird', new_user_bird_path(@bird.user, @bird) %>
