 <p id="notice"><%= notice %></p>
 <div class="row px-5">
   <div class="col-sm-4 info">

     <p class="show_sp">
       <strong>Species:</strong>
       <%= @bird.species %>
     </p>
     <p class="show_lo">
       <strong>Location:</strong>
       <%= @bird.location %>
     </p>
     <p class="show_da">
       <strong>Date:</strong>
       <%= @bird.date %>
     </p>
     <p class="show_bi">
       <strong>Birder:</strong>
       <%= @user.name %>
     </p>
   </div>
   <div class="col-sm-8">
     <img src="<%= @bird.image_url %>" alt="bird"/>
   </div>
 </div>
 <div class="back">
  <%= link_to 'Edit', edit_user_bird_path(@bird.user, @bird) %> |
  <%= link_to 'Back', birds_path %>

 </div>
