<p id="notice"><%= notice %></p>
<div class="row px-5">
  <div class="col-sm-4">

    <p>
      <strong>Species:</strong>
      <%= @bird.species %>
    </p>

<p>
  <strong>Location:</strong>
  <%= @bird.location %>
</p>

<p>
  <strong>Date:</strong>
  <%= @bird.date %>
</p>

<p>
  <strong>Image</strong>
  <%= image_tag(@bird.image_url) %>
</p>

<p>
  <strong>Birder:</strong>
  <%= @bird.birder %>
</p>

<%= link_to 'Edit', edit_user_bird_path(@bird.user, @bird) %> |
<%= link_to 'Back', birds_path %>